/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */




.table-view{
	 -fx-background-radius: 5.0; 
   -fx-background-color: transparent;
   	 -fx-font-size: 10.5pt;
   	   -fx-font-weight: bold;
   	    -fx-table-cell-border-color: transparent;
   	   
}
#scoreKolom{
	 -fx-alignment: CENTER;
}
.table-view:focused{
    -fx-background-color: transparent;
}



.table-view .column-header-background{
		 -fx-background-radius: 5.0; 
    -fx-background-color: linear-gradient(#131313 0%, #1C3C0D 100%);
}

.table-view .column-header-background .label{
		 -fx-background-radius: 5.0; 
    -fx-background-color: transparent;
    -fx-text-fill: white;
  
}

.table-view .column-header {
		 -fx-background-radius: 5.0; 
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
		 -fx-background-radius: 5.0; 
    -fx-background-color: -fx-table-cell-border-color, #800000;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:odd{
	 -fx-background-radius: 5.0; 
    -fx-background-color: -fx-table-cell-border-color, #800000;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; 
}

.table-row-cell:selected {
    -fx-background-color: #131313;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

